@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Suisse";
  src: url("../src/Fonts/SuisseIntlTrial-Thin.otf") format("truetype");
}

@font-face {
  font-family: "Suisse2";
  src: url("../src/Fonts/SuisseIntlTrial.otf") format("truetype");
}

@font-face {
  font-family: "Suisse3";
  src: url("../src/Fonts/SuisseIntlTrial-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Suisse4";
  src: url("../src/Fonts/SuisseIntlTrial-SemiBold.otf") format("truetype");
}

:root {
  font-family: "Suisse";
  --bg: #02021e;
  --blue: #4637d1;
  --violet: #3c24cb;
  --yellow: #fdc448;
  background-color: var(--bg);
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.home,
.footer {
  padding: 0vw 5vw;
}

.footer {
  margin-top: 10vw;
}

.entete {
  width: 100%;
  margin-top: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vw;
  border-top: 0.001px solid white;
  border-bottom: 0.1px solid white;
  
  overflow: hidden;
  transition: all 0.3s ease-in-out; /* Optionnel : pour une transition fluide */

}

.entete.fixed {
  border-width: 10%;
  margin-top: -0.2vw;
  background-color: #02021e;
  border-top: 0px solid white;
  border-bottom: 0px solid white;
  padding: 0vw 5vw;
  position: fixed;
  top: 0 !important;
  left: 0;
  width: 90%; /* Assurez-vous qu'il occupe toute la largeur */
  z-index: 1000; /* Assurez-vous qu'il reste au-dessus des autres éléments */
}

.entete img {
  width: 8%;
}

.entete ul {
  display: flex;
  list-style: none;
  gap: 5vw;
}

.entete ul li {
  font-size: 1vw;
  font-family: "Suisse2";
  transition: all 0.5s ease;
  position: relative; /* Pour pouvoir appliquer l'animation */
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.8s ease-in; /* Transition combinée */
}

.entete ul li:hover {
  transition: 0.2s ease-in-out;
  color: var(--yellow);
}

.entete .contact,
.mail .contact {
  border-radius: 5vw;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

.entete .contact {
  background-color: white;
  padding: 0.5vw;
  cursor: pointer;
}

.entete .contact h5,
.mail .contact h5 {
  font-size: 1vw;
  font-family: "Suisse2";
}

.entete .contact h5 {
  color: var(--bg);
}

.entete .crayon,
.mail .crayon {
  border-radius: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entete .crayon {
  width: 2vw;
  height: 2vw;
  background-color: var(--blue);
}

.blink-animation {
  animation: blink 1s infinite; /* Animation de clignotement */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homesection {
  display: flex;
  gap: 2vw;
  margin-top: 3vw;
}

.hsection1 {
  flex: 4.5;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.hsection1 .sec1 {
  background-color: var(--blue);
  height: 2vw;
  width: 25%;
  border-top-right-radius: 3vw;
  border-top-left-radius: 10vw;
}

.hsection1 .sec2 {
  background-color: var(--violet);
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  padding: 3vw 3vw 1vw;
  position: relative;
}

.sec2 h1 {
  font-size: 8vw;
  font-family: "Suisse4";
  line-height: 7.2vw;
  overflow: hidden;
  position: relative;
}

.sec2 span {
  display: block;
  font-size: 8vw;
  font-family: "Suisse4";
  line-height: 7.2vw;
  overflow: hidden;
  position: relative;
}

@keyframes fadeOutDown {
  0% {
    opacity: 0;
    transform: translateY(-2em);
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Ajustez selon vos besoins */
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1.5em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-text,
.animate-text2 {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

.animate-text span {
  display: inline-block;
  opacity: 1;
  animation: fadeOutDown 1s forwards;
  animation-delay: 0s;
}

.animate-text2 span {
  display: inline-block;
  opacity: 1;
  animation: fadeInUp 1s forwards;
  animation-delay: 0s;
}

.animate-text span:nth-child(1) {
  animation-delay: 0s;
}
.animate-text span:nth-child(2) {
  animation-delay: 0.1s;
}
.animate-text span:nth-child(3) {
  animation-delay: 0.2s;
}
.animate-text span:nth-child(4) {
  animation-delay: 0.3s;
}
.animate-text span:nth-child(5) {
  animation-delay: 0.4s;
}
.animate-text span:nth-child(6) {
  animation-delay: 0.5s;
}
.animate-text span:nth-child(7) {
  animation-delay: 0.6s;
}
.animate-text span:nth-child(8) {
  animation-delay: 0.7s;
}
.animate-text span:nth-child(9) {
  animation-delay: 0.8s;
}
.animate-text span:nth-child(10) {
  animation-delay: 0.9s;
}
.animate-text span:nth-child(11) {
  animation-delay: 0s;
}

.animate-text2 span:nth-child(1) {
  animation-delay: 0s;
}
.animate-text2 span:nth-child(2) {
  animation-delay: 0.1s;
}
.animate-text2 span:nth-child(3) {
  animation-delay: 0.2s;
}
.animate-text2 span:nth-child(4) {
  animation-delay: 0.3s;
}
.animate-text2 span:nth-child(5) {
  animation-delay: 0.4s;
}

.hsection1 hr {
  margin-top: 3vw;
  border: 0.0001vw solid grey;
  width: 100%;
}

@keyframes fadeInUp2 {
  0% {
    opacity: 1;
    transform: translateY(0);
    width: 15%;
  }

  50% {
    opacity: 0;
    transform: translateY(-5.5em);
    width: 5%;
  }

  100% {
    opacity: 0;
    transform: translateY(-10.5em);
    width: 1%;
  }
}

.talks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vw;
}
.years {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.years h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 3vw;
  word-spacing: -6px;
}

.years .exp h3 {
  font-family: "Suisse";
  font-size: 1.4vw;
}

.talk {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.talk:hover {
  display: flex;
  flex-direction: row-reverse;
}

.talk:hover .let {
  animation: eclair 1s forwards;
  animation-delay: 0s;
}

.talk .eclair {
  width: 3vw;
  height: 3vw;
  display: flex;
  background-color: white;
  justify-content: center;
  border-radius: 5vw;
  align-items: center;
}

@keyframes eclair {
  0% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0);
  }
}

.talk .let {
  background-color: var(--yellow);
  border-radius: 2vw;
  padding: 1vw 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.2vw;
  font-family: "Suisse2";
}

.hsection2 {
  flex: 2;
  background: linear-gradient(200deg, #24262e, #344b55); /* Dégradé linéaire */
  cursor: pointer;
  border-radius: 1vw;
  padding: 1vw;
}

.loading {
  display: flex;
  
  height: 0.2vw;
  border: none;
  flex: 1;
  border-radius: 5vw;
  background-color: grey;
  
}


.white{
  
  background-color: white;
  height: 0.2vw;
  animation: loading 10s infinite;
}

@keyframes loading {
  0%{width: 0%;}
  100%{width: 100%;}
  
}

.prof{
  display: flex;
  margin-top: 1vw;
  gap: 0.5vw;
  align-items: center;
}

.ico{
  background-color: var(--bg);
  width: 2.5vw;
  height:2.5vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prof h4{
  font-size: 1vw;
  font-family: 'Poppins';
  color: rgb(203, 200, 200);
  font-weight: 400;
  margin-right: 1vw;
}

.prof h5{
  font-size: 1vw;
  font-family: 'Poppins';
  color: rgb(203, 200, 200);
  font-weight: 300;
}

.ico img{
  width: 70%;
  height: 70%;
}


.affichage{
  margin-top: 2vw;
  overflow: hidden;
  
}


.affichage .titre{
  font-family: 'Poppins';
  line-height: 1.5vw;
  font-size: 1vw;
  position: relative;
  overflow: hidden;
  
}



.affichage .text {
  width: 100%;
  transition: display 1s ease-in-out; 
}

.affichage .text.active {
  display: flex;
}

.affichage .text.inactive {
  
  display: none;
}















.presentation,
.cercles {
  margin-top: 10vw;
  display: flex;
  justify-content: space-between;
}

.presentation .founder {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1vw;
}
.presentation .founder .photo {
  height: 3vw;
  width: 3vw;
  background-color: white;
  border-radius: 5vw;
}

.presentation .founder .nom h3 {
  font-size: 1.2vw;
  font-family: "Suisse";
}

.scroll-animated-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Ajustez selon vos besoins */
}

.text-line {
  font-size: 3vw;
  font-weight: 600;
  line-height: 3.5vw;
  font-family: "Poppins";
  opacity: 0.2; /* Opacité initiale */
  transition: opacity 0.3s ease-in-out; /* Transition douce d'opacité */
}

.cercle1,
.cercle2,
.cercle3,
.cercle4 {
  width: 20vw;
  height: 20vw;
  border: 1px solid rgb(100, 99, 99);
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circulaire {
  display: flex;
  justify-content: space-between;
}

.cercles {
  flex-direction: column;
}

.cercles img {
  width: 20%;
}

.cercles h1 {
  display: flex;
  justify-content: center;
  font-family: "Suisse4";
  font-size: 10vw;
  text-align: center;
  line-height: 9vw;
  opacity: 0.1;
  margin-bottom: 5vw;
  transition: 2s ease-in-out;
  overflow: hidden;
}

.cercles h1:hover {
  opacity: 1;
}

.cercles h2 {
  text-align: center;
  margin-top: 2vw;
  font-family: "Poppins";
  font-size: 1.3vw;
  font-weight: 400;
}

.section {
  padding: 15vw 0vw 0vw 0vw;
}

.fin {
  background-color: var(--violet);
  height: 40vw;
  border-radius: 3vw;
  position: relative;
  overflow: hidden;
  margin-bottom: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lumiere {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 90vw;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
  filter: blur(50px);
  animation: moveLight 5s infinite alternate ease-in-out;
}

@keyframes moveLight {
  0% {
    transform: translate(-50%, -50%) translateX(-300px) translateY(-100px);
  }
  50% {
    transform: translate(-50%, -50%) translateX(300px) translateY(100px);
  }
  100% {
    transform: translate(-50%, -50%) translateX(-300px) translateY(50px);
  }
}

.talkbubble {
  width: 70%;
  height: 70%;
  background: white;
  position: absolute;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 76px;
  width: 0px;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid white;
  border-bottom: 13px solid transparent;
}

.talkbubble h1 {
  color: black;
  font-family: "Poppins";
  font-size: 4vw;
  line-height: 4vw;
  text-align: center;
}

.mail {
  margin-top: 5vw;
  display: flex;
  gap: 3vw;
}
.mail .contact {
  justify-content: space-between;
  display: flex;
  background-color: var(--violet);
  padding: 0.7vw;
  width: 15vw;
  gap: 3vw;
  cursor: pointer;
}

.mail .crayon {
  background-color: white;
  color: black;
  width: 2.5vw;
  height: 2.5vw;
}

.service,
.indus,
.techno {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.service h3,
.indus h3,
.techno h3 {
  font-family: "Poppins";
  font-size: 1.3vw;
  padding: 1.2vw 0;
  font-weight: 400;
}

.service h1,
.indus h1,
.techno h1 {
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: "Poppins";
  display: flex;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  font-size: 1.9vw;
  font-family: "Poppins";
  font-weight: 300;

  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.service:hover h1,
.indus:hover h1,
.techno:hover h1 {
  background-color: white;
  color: black;
}
.services,
.technos,
.induss {
  padding: 0.2vw 0;
}
.messervices,
.mestechnos,
.mesindus {
  margin: 1vw 0;
  gap: 3vw;
  display: flex;
  flex-direction: column;
}

h1.moins {
  background-color: white;
  color: black;
}

.messervices h2,
.mestechnos h2,
.mesindus h2 {
  font-size: 1.2vw;
  font-family: "Poppins";
  font-weight: 400;
}
.mesdesign,
.mesback,
.mesind {
  margin-top: 2vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}
.mesdesign h4,
.mesback h4,
.mesind h4 {
  flex: 1 1 calc(25% - 1vw); /* 25% pour 4 éléments par ligne, moins la marge */
  box-sizing: border-box; /* Inclut la marge et le padding dans la largeur totale */
  margin: 0;
  font-size: 1.1vw;
  font-family: "Poppins";
  font-weight: 400;
  color: grey;
}
.footer hr {
  border: 0.001px solid grey;
}
.copywrite {
  display: flex;
  padding: 2vw 0;
  justify-content: space-between;
}

.copywrite h4 {
  font-size: 1vw;
  opacity: 0.5;
  font-family: "Poppins";
  font-weight: 400;
}

.copywrite ul {
  font-size: 1vw;
  display: flex;
  list-style: none;
  gap: 2vw;
}

.copywrite ul li {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  opacity: 0.5;
  font-family: "Poppins";
  font-weight: 400;
  cursor: pointer;
}

.copywrite ul .soulign:hover li {
  opacity: 1;
}

.copywrite ul .soulign:hover hr {
  animation: width 1s forwards;
}

@keyframes width {
  0% {
    width: 0%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

.copywrite hr {
  width: 0;
  opacity: 0;
}
